/* html5 compat */
article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {display: block;}

/* begin reset */

::selection {
  background-color: #000000;
  color: #FFFFFF;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  border: 0;
  padding: 0;
}

ol {
  margin-bottom: 0;
  padding: 0 0 1rem 0;
  margin-left: 2rem;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  font-size: 14px;
  font-size: 1.4rem;
  text-decoration: none;
  color: #000000;
}

a:hover, a:focus, a:active {
  text-decoration: underline;
}

body {
  /* reset to enable px like sizing with rem */
  font-size: 62.5%;
  line-height: 1.5;
}

/* end reset */

body {
  background-color: #EEEEEE;
  color: #333333;
}

main {
  background-color: #F1F1F1;
  /*padding-bottom: 20px;*/
}

main .container article {
  padding-bottom: 20px;
}

.main-header .container {
  border-bottom: 1px solid #AAA;
  padding-bottom: 20px;
}

.main-header .container, main .container, .main-footer .container  {
  border-left: 1px solid #AAA;
  border-right: 1px solid #AAA;
}

main a {
  text-decoration: underline;
}

main a:hover {
  text-decoration: none;
}

article img {
  background-color: #000;
  padding: 10px;
  margin-right: 15px;
  float: none;
}

.hero {
  background-color: #111111;
  padding: 10px;
  padding: 1rem;
  margin: 10px;
  margin: 1rem;
}

.portfolio-item {
  display: inline-block;
}

.accessibility-bar {
  background-color: #222222;
  border-bottom: 4px solid #0088CC;
}

.accessibility-bar a {
  color: #FFFFFF;
  padding: 0 5px 0 0;
  padding: 0 0.5rem 0 0;
  font-size: 10px;
  font-size: 1rem;
}

.main-footer-text {
  padding: 10px 0;
}

.main-footer .container {
  border-top: 1px solid #AAA;
}

.main-footer a {
  font-size: 10px;
  font-size: 1rem;

}

.header-logo {
  text-align: left;
  /*display: block;*/ 
  margin-bottom: 5px;
  padding-top: 10px;
}

.main-header h1, .main-header img {
  display: inline-block;
}

.move-off-screen {
  position: absolute;
  left: -10000px;
}

/* begin nav */

.main-nav {
  padding: 6px 0;
}

.main-nav, .main-nav-list {
  margin: 0;
}

.main-nav-item {
  display: inline-block;
  /*padding: 5px 10px;*/
  /*border: 1px solid ;*/
  margin-left: 5px;
}

.main-nav-link {
  /*color: #FFFFFF;*/
  border: 1px solid #AAA;
  padding: 10px 10px;
  margin: 10px 0;
  transition: background-color .25s ease-in-out;
  -moz-transition: background-color .25s ease-in-out;
  -webkit-transition: background-color .25s ease-in-out;
}

/*.main-nav-link:hover {
  background-color: #2386B4;
  text-decoration: none;
}*/

/*.main-nav-item.current-page .main-nav-link {
  border-color: #FFFFFF;
  background-color: #FFFFFF;
  color: #000000;
}*/

/* end nav */

/* begin typography */
  body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

  h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 5px 0;
    padding: 0.5rem 0;
  }

  h1 {
    font-size: 26px;
    font-size: 2.6rem;
  }

  h2 {
    font-size: 24px;
    font-size: 2.4rem;
  }

  h3 {
    font-size: 22px;
    font-size: 2.2rem;
  }

  h4 {
    font-size: 20px;
    font-size: 2rem;
  }

  h5 {
    font-size: 18px;
    font-size: 1.8rem;
  }

  h6 {
    font-size: 16px;
    font-size: 1.6rem;
  }

  p {
    font-size: 14px;
    font-size: 1.4rem;
    margin: 0;
    padding: 0 0 1rem;
  }

  li {
    font-size: 14px;
    font-size: 1.4rem;
  }
/* end typography */

/* begin reponsive */

@media screen and (max-width: 850px) {
  article img {
    float: none;
    margin: 0 auto;
    display: block;
    max-width: 90%;
  }

  .main-nav {
    width: 100%;
  }
  
  .main-nav-item {
    display: block;
  }

  .main-nav-link {
    margin: 10px 0;
    display: block;
    text-align: center;
  }
}

@media screen and (max-width: 440px) {
  h3 {
    font-size: 14px;
    font-size: 1.4rem;
  }
  main img {
    margin: 0;
    width: 195px;
    height: auto;
  }
}

@media screen and (max-width: 240px) {
  main img {
    margin: 0;
    width: 195px;
    height: auto;
  }
  main .container {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .hero {
    margin: 0;
  }
  h2, h3 {
    text-align: center;
  }
  .accessibility-bar a {
    display: block;
  }
}

/* end responsive */

.highlight {
  color: blue;
}